In [ ]:
import pandas as pd
import requests
import json as json
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
url = "https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/messages"

In [ ]:
response=requests.get(url)

In [ ]:
df_2=response.json()

In [ ]:
df_2[0]

In [ ]:
df_messages = pd.DataFrame(df_2)

In [ ]:
df_messages.head(4)

In [ ]:
df_drop_messages=df_messages.drop(['message'],axis=1)

In [ ]:
df_drop_messages.head(2)

In [ ]:
# Creating connection object
mydb = mysql.connector.connect(
    host = "sql6.freesqldatabase.com",
    user = "sql6497849",
    password = "8Uv4Ea7ssR"
)

In [ ]:
cursor = mydb.cursor()

In [ ]:
cursor.execute("create table if not exists sql6497849.message(createdAt timestamp,receiver_Id integer,id int,senderid int,username varchar(10),password varchar(10))")

In [ ]:
import pymysql
user = 'sql6497849'
passw = '8Uv4Ea7ssR'
host =  'sql6.freesqldatabase.com'
port = 3306
database = 'sql6497849'


conn = pymysql.connect(host=host,
                       port=port,
                       user=user, 
                       passwd=passw,  
                       db=database,
                       charset='utf8')

In [ ]:
engine = create_engine('mysql+pymysql://sql6497849:8Uv4Ea7ssR@sql6.freesqldatabase.com:3306/sql6497849', echo=False)

In [ ]:
df_drop_messages.to_sql("message",con=engine,if_exists='replace',chunksize=100)

In [ ]:
url = "https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/users"

In [ ]:
response=requests.get(url)

In [ ]:
df_3=response.json()

In [ ]:
df_3[0]

In [ ]:
df_4=pd.json_normalize(df_3)

In [ ]:
df_4['Email_ID'] = [x.split('@')[1] for x in df_4['email']]

In [ ]:
df_4.head(2)

In [ ]:
    df_4_dropemail=df_4.drop(columns=['email', 'firstName','lastName','address','subscription'])

In [ ]:
df_4_dropemail.head(2)

In [ ]:
dict = {'profile.gender': 'gender',
        'profile.profession': 'profession',
        'profile.isSmoking': 'isSmoking',
       'profile.income':'income'}
 
# call rename () method
df_4_dropemail.rename(columns=dict,
          inplace=True)

In [ ]:
df_4_dropemail.head(2)

In [ ]:
df_4_dropemail.sort_values('updatedAt').drop_duplicates('id',keep='last')

In [ ]:
df_4_dropemail.columns

In [ ]:
cursor.execute("create table if not exists sql6497849.user(createdAt timestamp,updatedAt timestamp,city varchar(10),country varchar(10),zipCode integer,birthDate timestamp, id integer,gender varchar(10),isSmoking Varchar(10),profession varchar(10),income integer,Email_ID varchar(10))")

In [ ]:
df_4_dropemail.to_sql("user",con=engine,if_exists='replace',chunksize=100)

In [ ]:
l1=[]

In [ ]:
for i in df_4['subscription']:
    if len(i)!=0:
     l1.append(i[0])

In [ ]:
df_subscription=pd.DataFrame(l1)

In [ ]:
df_subscription.head(2)

In [ ]:
cursor.execute("create table if not exists sql6497849.subscription(createdAt timestamp,startDate timestamp,endDate timestamp,status varchar(10),amount integer)")

In [ ]:
df_subscription.to_sql("subscription",con=engine,if_exists='replace',chunksize=100)