In [1]:
import pandas as pd
import requests
import json as json
import mysql.connector
from sqlalchemy import create_engine

In [2]:
url = "https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/messages"

In [3]:
response=requests.get(url)

In [4]:
df_2=response.json()

In [5]:
df_2[0]

{'createdAt': '2021-11-25T12:18:57.208Z',
 'message': 'Tempora aspernatur quaerat cumque necessitatibus.',
 'receiverId': '2',
 'id': '1',
 'senderId': '1'}

In [6]:
df_messages = pd.DataFrame(df_2)

In [7]:
df_messages.head(4)

,createdAt,message,receiverId,id,senderId
0,2021-11-25T12:18:57.208Z,Tempora aspernatur quaerat cumque necessitatibus.,2,1,1
1,2021-11-25T15:26:33.436Z,Harum beatae explicabo.,3,2,2
2,2021-11-25T21:55:29.995Z,Dolor amet et molestiae quaerat rerum minus is...,1,3,3
3,2021-11-26T03:09:45.900Z,Corrupti et eos omnis eveniet vitae pariatur e...,1,4,4

In [8]:
df_drop_messages=df_messages.drop(['message'],axis=1)

In [9]:
df_drop_messages.head(2)

                  createdAt receiverId id senderId
0  2021-11-25T12:18:57.208Z          2  1        1
1  2021-11-25T15:26:33.436Z          3  2        2

In [10]:
# Creating connection object
mydb = mysql.connector.connect(
    host = "sql6.freesqldatabase.com",
    user = "sql6497849",
    password = "8Uv4Ea7ssR"
)

In [11]:
cursor = mydb.cursor()

In [12]:
cursor.execute("create table if not exists sql6497849.message(createdAt timestamp,receiver_Id integer,id int,senderid int,username varchar(10),password varchar(10))")

In [13]:
import pymysql
user = 'sql6497849'
passw = '8Uv4Ea7ssR'
host =  'sql6.freesqldatabase.com'
port = 3306
database = 'sql6497849'


conn = pymysql.connect(host=host,
                       port=port,
                       user=user, 
                       passwd=passw,  
                       db=database,
                       charset='utf8')

In [14]:
engine = create_engine('mysql+pymysql://sql6497849:8Uv4Ea7ssR@sql6.freesqldatabase.com:3306/sql6497849', echo=False)

In [15]:
df_drop_messages.to_sql("message",con=engine,if_exists='replace',chunksize=100)

In [16]:
url = "https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/users"

In [17]:
response=requests.get(url)

In [18]:
df_3=response.json()

In [19]:
df_3[0]

{'createdAt': '2021-11-23T16:10:33.614Z',
 'updatedAt': '2021-11-24T13:34:15.404Z',
 'firstName': 'Levi',
 'lastName': 'Bins',
 'address': 'Ernestine Shore',
 'city': 'Pembroke Pines',
 'country': 'United States',
 'zipCode': '05734',
 'email': 'Kianna_Nicolas@hotmail.com',
 'birthDate': '2020-12-16T02:41:21.036Z',
 'profile': {'gender': 'male',
  'isSmoking': True,
  'profession': 'Central Configuration Planner',
  'income': '3709.61'},
 'subscription': [{'createdAt': '2021-11-24T16:58:46.581Z',
   'startDate': '2021-11-24T05:12:49.301Z',
   'endDate': '2022-09-15T06:05:59.630Z',
   'status': 'Active',
   'amount': '43.18'}],
 'id': '1'}

In [20]:
df_4=pd.json_normalize(df_3)

In [21]:
df_4['Email_ID'] = [x.split('@')[1] for x in df_4['email']]

In [22]:
df_4.head(2)

,createdAt,updatedAt,firstName,lastName,address,city,country,zipCode,email,birthDate,subscription,id,profile.gender,profile.isSmoking,profile.profession,profile.income,Email_ID
0,2021-11-23T16:10:33.614Z,2021-11-24T13:34:15.404Z,Levi,Bins,Ernestine Shore,Pembroke Pines,United States,05734,Kianna_Nicolas@hotmail.com,2020-12-16T02:41:21.036Z,"[{'createdAt': '2021-11-24T16:58:46.581Z', 'st...",1,male,True,Central Configuration Planner,3709.61,hotmail.com
1,2021-11-23T02:40:10.964Z,2021-11-24T16:04:42.393Z,Aric,Shields,Sporer Field,Meganemouth,Namibia,59236,Madelynn.Ruecker27@gmail.com,2021-10-08T12:12:49.168Z,"[{'createdAt': '2021-11-24T14:36:18.895Z', 'st...",2,male,True,Corporate Tactics Strategist,1504.25,gmail.com

In [23]:
    df_4_dropemail=df_4.drop(columns=['email', 'firstName','lastName','address','subscription'])

In [24]:
df_4_dropemail.head(2)

,createdAt,updatedAt,city,country,zipCode,birthDate,id,profile.gender,profile.isSmoking,profile.profession,profile.income,Email_ID
0,2021-11-23T16:10:33.614Z,2021-11-24T13:34:15.404Z,Pembroke Pines,United States,05734,2020-12-16T02:41:21.036Z,1,male,True,Central Configuration Planner,3709.61,hotmail.com
1,2021-11-23T02:40:10.964Z,2021-11-24T16:04:42.393Z,Meganemouth,Namibia,59236,2021-10-08T12:12:49.168Z,2,male,True,Corporate Tactics Strategist,1504.25,gmail.com

In [25]:
dict = {'profile.gender': 'gender',
        'profile.profession': 'profession',
        'profile.isSmoking': 'isSmoking',
       'profile.income':'income'}
 
# call rename () method
df_4_dropemail.rename(columns=dict,
          inplace=True)

In [26]:
df_4_dropemail.head(2)

,createdAt,updatedAt,city,country,zipCode,birthDate,id,gender,isSmoking,profession,income,Email_ID
0,2021-11-23T16:10:33.614Z,2021-11-24T13:34:15.404Z,Pembroke Pines,United States,05734,2020-12-16T02:41:21.036Z,1,male,True,Central Configuration Planner,3709.61,hotmail.com
1,2021-11-23T02:40:10.964Z,2021-11-24T16:04:42.393Z,Meganemouth,Namibia,59236,2021-10-08T12:12:49.168Z,2,male,True,Corporate Tactics Strategist,1504.25,gmail.com

In [27]:
df_4_dropemail.sort_values('updatedAt').drop_duplicates('id',keep='last')

,createdAt,updatedAt,city,country,zipCode,birthDate,id,gender,isSmoking,profession,income,Email_ID
5,2021-11-22T19:14:23.721Z,2021-11-24T02:56:07.833Z,None,United States,None,2021-09-29T06:05:18.013Z,6,None,True,Customer Security Producer,None,yahoo.com
4,2021-11-23T14:57:27.793Z,2021-11-24T05:23:38.587Z,East Darrionhaven,Iceland,98347,2021-07-23T02:31:51.232Z,5,female,False,Central Paradigm Agent,2658.19,gmail.com
2,2021-11-23T06:26:53.843Z,2021-11-24T06:37:01.117Z,Port Cary,Bulgaria,83202-2695,2021-01-13T10:11:14.643Z,3,female,False,Senior Quality Manager,3256.41,gmail.com
0,2021-11-23T16:10:33.614Z,2021-11-24T13:34:15.404Z,Pembroke Pines,United States,05734,2020-12-16T02:41:21.036Z,1,male,True,Central Configuration Planner,3709.61,hotmail.com
1,2021-11-23T02:40:10.964Z,2021-11-24T16:04:42.393Z,Meganemouth,Namibia,59236,2021-10-08T12:12:49.168Z,2,male,True,Corporate Tactics Strategist,1504.25,gmail.com
3,2021-11-23T03:27:56.458Z,2021-11-24T17:00:21.524Z,South Christophe,United States,70183,2021-09-22T20:53:42.528Z,4,male,True,Internal Division Agent,758.89,gmail.com

In [28]:
df_4_dropemail.columns

Index(['createdAt', 'updatedAt', 'city', 'country', 'zipCode', 'birthDate',
       'id', 'gender', 'isSmoking', 'profession', 'income', 'Email_ID'],
      dtype='object')

In [29]:
cursor.execute("create table if not exists sql6497849.user(createdAt timestamp,updatedAt timestamp,city varchar(10),country varchar(10),zipCode integer,birthDate timestamp, id integer,gender varchar(10),isSmoking Varchar(10),profession varchar(10),income integer,Email_ID varchar(10))")

In [30]:
df_4_dropemail.to_sql("user",con=engine,if_exists='replace',chunksize=100)

In [31]:
l1=[]

In [32]:
for i in df_4['subscription']:
    if len(i)!=0:
     l1.append(i[0])

In [33]:
df_subscription=pd.DataFrame(l1)

In [34]:
df_subscription.head(2)

,createdAt,startDate,endDate,status,amount
0,2021-11-24T16:58:46.581Z,2021-11-24T05:12:49.301Z,2022-09-15T06:05:59.630Z,Active,43.18
1,2021-11-24T14:36:18.895Z,2021-11-24T12:57:48.724Z,2022-07-13T09:14:04.001Z,Active,23.78

In [35]:
df_subscription.insert(0, 'ID', range(1, 1 + len(df_subscription)))

In [36]:
cursor.execute("create table if not exists sql6497849.subscription(id integer,createdAt timestamp,startDate timestamp,endDate timestamp,status varchar(10),amount integer)")

In [37]:
df_subscription.to_sql("subscription",con=engine,if_exists='replace',chunksize=100)