In [1]:
import pandas as pd
import requests
import json as json
import mysql.connector
from sqlalchemy import create_engine

In [2]:
url = "https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/messages"

In [3]:
response=requests.get(url)

In [4]:
df_2=response.json()

In [5]:
df_2[0]

{'createdAt': '2021-11-25T12:18:57.208Z',
 'message': 'Tempora aspernatur quaerat cumque necessitatibus.',
 'receiverId': '2',
 'id': '1',
 'senderId': '1'}

In [6]:
df_messages = pd.DataFrame(df_2)

In [7]:
df_messages.head(4)

,createdAt,message,receiverId,id,senderId,username,password
0,2021-11-25T12:18:57.208Z,Tempora aspernatur quaerat cumque necessitatibus.,2,1,1,NaN,NaN
1,2021-11-25T15:26:33.436Z,Harum beatae explicabo.,3,2,2,NaN,NaN
2,2021-11-25T21:55:29.995Z,Dolor amet et molestiae quaerat rerum minus is...,1,3,3,NaN,NaN
3,2021-11-26T03:09:45.900Z,Corrupti et eos omnis eveniet vitae pariatur e...,1,4,4,NaN,NaN

In [8]:
df_drop_messages=df_messages.drop(['message'],axis=1)

In [9]:
df_drop_messages.head(2)

                  createdAt receiverId id senderId username password
0  2021-11-25T12:18:57.208Z          2  1        1      NaN      NaN
1  2021-11-25T15:26:33.436Z          3  2        2      NaN      NaN

In [10]:
# Creating connection object
mydb = mysql.connector.connect(
    host = "sql6.freesqldatabase.com",
    user = "sql6497849",
    password = "8Uv4Ea7ssR"
)

In [11]:
cursor = mydb.cursor()

In [12]:
cursor.execute("create table if not exists sql6497849.message(createdAt timestamp,receiver_Id integer,id int,senderid int,username varchar(10),password varchar(10))")

In [13]:
df_drop_messages.to_sql("dim_message",con=engine,if_exists='replace',chunksize=100)

NameError: name 'engine' is not defined

In [ ]:
import pymysql
user = 'sql6497849'
passw = '8Uv4Ea7ssR'
host =  'sql6.freesqldatabase.com'
port = 3306
database = 'sql6497849'


conn = pymysql.connect(host=host,
                       port=port,
                       user=user, 
                       passwd=passw,  
                       db=database,
                       charset='utf8')

In [ ]:
engine = create_engine('mysql+pymysql://sql6497849:8Uv4Ea7ssR@sql6.freesqldatabase.com:3306/sql6497849', echo=False)

In [ ]:
df_drop_messages.to_sql("message",con=engine,if_exists='replace',chunksize=100)

In [ ]:
url = "https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/users"

In [ ]:
response=requests.get(url)

In [ ]:
df_3=response.json()

In [ ]:
df_3[0]

In [ ]:
df_4=pd.json_normalize(df_3)

In [ ]:
df_4['Email_ID'] = [x.split('@')[1] for x in df_4['email']]

In [ ]:
df_4.head(2)

In [ ]:
    df_4_dropemail=df_4.drop(columns=['email', 'firstName','lastName','address','subscription'])

In [ ]:
df_4_dropemail.head(2)

In [ ]:
dict = {'profile.gender': 'gender',
        'profile.profession': 'profession',
        'profile.isSmoking': 'isSmoking',
       'profile.income':'income'}
 
# call rename () method
df_4_dropemail.rename(columns=dict,
          inplace=True)

In [ ]:
df_4_dropemail.head(2)

In [ ]:
df_4_dropemail.sort_values('updatedAt').drop_duplicates('ID',keep='last')

In [ ]:
df_4_dropemail.columns

In [ ]:
cursor.execute("create table if not exists sql6497849.user(createdAt timestamp,updatedAt timestamp,city varchar(10),country varchar(10),zipCode integer,birthDate timestamp, id integer,gender varchar(10),isSmoking Varchar(10),profession varchar(10),income integer,Email_ID varchar(10))")

In [ ]:
df_4_dropemail.to_sql("user",con=engine,if_exists='replace',chunksize=100)

In [ ]:
l1=[]

In [ ]:
for i in df_4['subscription']:
    if len(i)!=0:
     l1.append(i[0])

In [ ]:
df_subscription=pd.DataFrame(l1)

In [ ]:
df_subscription.head(2)

In [ ]:
df_subscription.insert(0, 'ID', range(1, 1 + len(df_subscription)))

In [ ]:
cursor.execute("create table if not exists sql6497849.subscription(createdAt timestamp,startDate timestamp,endDate timestamp,status varchar(10),amount integer)")

In [ ]:
df_subscription.to_sql("subscription",con=engine,if_exists='replace',chunksize=100)